<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Signin</title>

    <link href="forget.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div class='forget'>
        <form>
            <h2>Forget Password</h2><br>
            <h5> Enter email here that you used on your account. we will send link on your email to reset your password</h5>
            <input type="email" name="email" placeholder="Enter Your Email"><br><br>
            
            <input type="button" value="Send" onclick="myfunction()"/><br><br>
            <a href="signin.html">Go back to Home Page</a>

            <div id="msg">
              Link send on your email successfully!!!
            </div>

            <script>
                function myfunction(){
                    var x = document.getElementById("msg");
                    x.className = "show";
                    setTimeout(function() {x.className = x.className.replace("show","");},3000);
                }
            </script>
        </form>
    </div>
</body>